.banner{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.banner{
    background: url('./bannerImage/hero2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 60px;
}


.about2{
    background-color: black;
    color: #fff;
}

.about2 .col{
    display: flex;
    align-items: center;
}

.content{
    
    padding: 0 50px;
   
   
}

.content1{
    margin-bottom: 50px;
    text-align: justify;
}

