#footer{
    background-color:#121212 ;
    color: #fff;
}

.footer-section{
    display: grid;
    grid-template-columns: 25% 23% 23% 29%;
}

#footer p{
    padding: 20px 30px 20px 0;
}

#footer ul{
    list-style-type: none;
    margin-top: 30px;
}

#footer ul li{
    line-height: 2;
}

.footer-image{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    
}

/* #footer .footer-img{
    width: 30px;
} */

/* #footer ul li a{
    color: rgb(134, 140, 152);
    font-weight: 300;
} */

@media only screen and (max-width:442px) {
        #footer .footer-section{
            display: block;
        }

        #footer .col{
            /* margin-top: 20px; */
        }

}